@import "tailwindcss";

@theme {
  --color-sepia-darkest: #2b2718;
  --color-sepia-darker: #474030;
  --color-sepia-dark: #695f4d;
  --color-sepia: #bfb4a3;
  --color-sepia-light: #f0ebe4;
  --color-sepia-lighter: #f7f5f2;
  --color-sepia-lightest: #fcfbfa;
}

html {
  font-size: 16px;
}

@media (min-width: 768px) {
  html {
    font-size: 17px;
  }
}

@media (min-width: 1280px) {
  html {
    font-size: 18px;
  }
}
